.quiz-container {
  width: 500px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
  overflow: hidden;
}

.quiz-container .container {
  padding: 30px;
}

.quiz-container ul {
  list-style: none;
  padding: 0;
}

.quiz-container ul>li {
  margin: 10px 0;
}

li>label,
input[type="radio"] {
  cursor: pointer;
  margin-right: 10px;
}

.submit-btn {
  width: 100%;
  border: none;
  outline: none;
  background-color: #9b59b6;
  color: #fff;
  padding: 20px;
  cursor: pointer;
}